@import 'views/home';
@import 'views/index';
@import 'views/detalle';
@import 'views/userMenu';

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
.container {
    padding: 0 80px;
    padding-bottom: 80px;
}