/* app.css */

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tipografía general */
body, html {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
}

/* Contenedor general */
.container {
    padding: 0 20px;
}
